.greatIcon{
    text-align: center;
    margin: 10px;
    border-radius: 30px;
    margin-left:100px;
    margin-right:100px;
    background-color: rgba(22, 21, 21, 0.507);
    padding: 20px;

}

.greatIconImg{
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    height: 200px;
}
.greatIconText{
    font-size: 30px;
    padding: 5px;
    font-weight: bolder;
    color: #ED8F19;
    filter: drop-shadow(3px 3px 3px #222);

}